/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
  .container{
    width: 90%;
  }
  .first, .middle, .last{
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
  .top-header{
    padding: 32px 0px;
  }
  .banner-content h1{
    font-size: 44px;
  }

  .navbar-section{
    display: none;
  }
  .f-item-photo{
    grid-template-columns: auto;
  }
  .fc-item{
    flex-basis: 100%;
  }
  .fc-photos{
    display: flex;
    flex-direction: column;
  }

  .product-photos{
    grid-template-columns: auto;
  }
  .deal-content{
    flex-direction: column;

  }
  .footer-content{
    flex-direction: column;
  }

  .footer-content h5{
    margin-top: 40px;
  }
  .f-menu li a{
    color: gray;
  }
  footer{
    text-align: center;
  }
  .d-flex {
    display: block;
    margin-bottom: 16px;
  }
  .footer-1, .footer-2, .footer-3, .footer-4{
    border-bottom: 1px solid #eee;
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
  .second{
    background-position: inherit;
  }
  .features{
    padding-bottom: 0px;
    padding-top: 100px;
  }
  .footer-1{
    margin-right: 0px;
  }
  .item-content img {
    width: 100%;
    height: 225px;
  }
  .copyright p{
    line-height: 32px;
  
  }
  .images img{
    margin-bottom: 20px;
    text-align: center;
  }
  .image-gallery{
    grid-template-columns: auto;
  }
  
  .form-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px 0;
  }
  .input input {
    padding: 18px -1px;
    padding-right: 65px;
  }
 .products{
  padding: 0px;
 } 
 .f-item{
  padding-bottom: 20px;
 }

  /*css*/
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/*@media (min-width: 320px) and (max-width: 480px) {*/
  
  /* CSS */
  
}